.big{
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
}

.box{
	height:calc(100vh/3);
	width:calc(100vw/3);
	margin:auto;
}
.c1{
	background-color:none;
}
.c2{
	background-color:white;
}
.c3{
	background-color:;
}
.c4{
	background-color:white;
}
.c5{
	background-color:black;
}
.c6{
	background-color:white;
}
.c7{
	background-color:;
}
.c8{
	background-color:white;
}
.c9{
	background-color:;
}

body{
	height:100vh;
	width:100vw;
	background-color:red;
	flex-wrap:wrap;
	display:flex;
}	
div{
	display:flex;
	flex-wrap:wrap;
}
img{
	margin:auto;
	height:100%;
}